.card-result{
    border-radius: 8px;
    border: 1px solid rgb(226, 222, 222);
}
.tag-status{
    background-color:$colorSecundarioDosOscuro;
    color: #fff;
    padding: .2em .4em;
    border-radius: 4px;
    font-size: .8em;
    margin-right: .8em;
    @include media(md) {
        font-size: .7em ;
    }
}
.politicas-cancelacion{
    background-color: unset;
    border: 1px solid $colorPrimarioDosOscuro;
    border-radius: 4px;
    color: #212529;
    @include media(md) {
        font-size: .7em ;
    }
    @include media(sm) {
        font-size: .7em ;
    }
}
.plan-alimentos{
    color: $colorPrimarioUnoOscuro;
    @include media(md) {
        font-size: .7em ;
    }
    @include media(sm) {
        font-size: .7em ;
    }
}
.detalle-tarifa{
    background-color: unset;
    border: 1px solid $colorPrimarioUnoOscuro;
    border-radius: 4px;
    color: #212529;
    @include media(md) {
        font-size: .7em ;
    }
    @include media(sm) {
        font-size: .7em ;
    }
    /* @include media(xs) {
        margin-top: .8rem;
    } */
    &:hover{
        background-color: $colorPrimarioUnoOscuro !important;
        color: white;
    }
}
.info-hotel{
    @include media(sm) {
        text-align: center;
        padding-top: 1rem;
    }
    @include media(xs) {
        text-align: center;
        padding-top: 1rem;
    }
    h5{
        font-family: 'Muli-Bold';
        @include media(md) {
            font-size: .84em;
        }
        @include media(sm) {
            line-height: 0rem;
        }
    }
    li{
        margin-right: 0.2rem;
        font-size: 1.3em;
        @include media(md) {
            font-size: .7em ;
        }
    }
    .addres-hotel{
        font-size: .8em;
        @include media(md) {
            font-size: .7em ;
        }
        span{
            color: $colorSecundarioTresOscuro;
            margin-right: .5em;
        }
    }
    .descripcion-hotel{
        line-height: 16px;
        @include media(md) {
            font-size: .7em ;
            line-height: 14px;
            p{
                margin-bottom: 5px;
            }
        }
    }
}
.detalle-costo-hotel{
    text-align: right;
    @include media(sm) {
        text-align: center;
    }
    @include media(xs) {
        text-align: center;
    }
    .text-precio-hab{
        font-size: .8em;
        margin-bottom: 0px;
        @include media(md) {
            font-size: .7em ;
        }
    }
    h2{
        @include media(md) {
            font-size: 1.3em ;
        }
        line-height: 1em;
        margin-bottom: 5px;
        font-family: 'Muli-Bold';
        color: $colorPrimarioUnoOscuro;
        span{
            color: $colorSecundarioTresOscuro;
        }
    }
    .descripcion-corta-result{
        font-size: .8em;
        @include media(md) {
            font-size: .7em ;
            margin-bottom: 0;
        }
    }
    .total-estancia-result{
        font-size: .7em;
        margin-bottom: 0;
    }
    h5{
        font-family: 'Muli-SemiBold';
        color: $colorPrimarioUnoOscuro;
        @include media(md) {
            font-size: .9em ;
        }
    }
}
.rooms-disponibles{
    @include media(sm) {
        padding-bottom: 1em;
    }
    h5{
        font-family: 'Muli-SemiBold';
        margin-bottom: 0;
        @include media(md) {
            font-size: .84em;
        }
    }
}
.room-info{
    @include media(sm) {
        text-align: center;
    }
    @include media(xs) {
        text-align: center;
        padding-top: .8rem;
    }
    h5{
        font-family: 'Muli-SemiBold';
        margin-bottom: 0;
        @include media(md) {
            font-size: .73em;
        }
    }
    .ocupancy-grafico{
        .child{
            font-size: 1.2em;
            @include media(md) {
                font-size: .7em ;
            }
        }
        .adults{
            font-size: 1.5em;
            @include media(md) {
                font-size: .9em ;
            }
        }
        svg{
            margin-right: .2em;
        }
        span{
            font-size: .8em !important;
            letter-spacing: .2em;
        }
    }
    .room-planalimento{
        @include media(sm) {
            padding-top: 8px;
        }
        @include media(xs) {
            padding-top: 8px;
        }
        color: $colorPrimarioUnoOscuro;
        line-height: 1;
        margin-bottom: .4em;
        font-family: 'Muli-Regular';
    }
}
.detalle-costo-room{
    text-align: right;
    // display: flex;
    @include media(sm) {
        padding-top: 10px;
        display: block;
        text-align: center;
    }
    @include media(xs) {
        padding-top: 10px;
        display: block;
        text-align: center;
    }
    .text-precio-room{
        font-size: .8em;
        margin-bottom: 0px;
        @include media(md) {
            font-size: .7em ;
        }
    }
    h4{
        line-height: 1.2em;
        margin-bottom: 5px;
        font-family: 'Muli-Bold';
        color: $colorPrimarioUnoOscuro;
        span{
            color: $colorSecundarioTresOscuro;
        }
        @include media(md) {
            font-size: 1em ;
        }
    }
    .btn-mas-room{
        border: 1px solid $colorSecundarioDosOscuro;
        @include media(md) {
            font-size: .7em ;
        }
    }
    .btn-mas-room-sort{
        border: 1px solid $colorSecundarioDosOscuro;
        background-color: $colorSecundarioDosOscuro;
        @include media(md) {
            font-size: .7em ;
        }
    }
}
.btn-reservar{
    background-color: $colorPrimarioUnoOscuro;
    color: #fff;
    &:hover{
        background-color: $colorPrimarioUno;
    }
    @include media(md) {
        font-size: .7em ;
    }
}
.btn-cotizar{
    background-color: $colorSecundarioDosOscuro;
    color: #fff;
    &:hover{
        background-color: $colorSecundarioDos;
    }
    @include media(md) {
        font-size: .7em ;
    }
    @include media(xs) {
        margin-top: 0rem;
    }
}
.room-selected{
    background-color: $colorSombraUno;
}
.other-room{
    border: 1px solid rgb(226, 222, 222);
    border-radius: 4px;
    .room-info{
        .room-planalimento{
            line-height: 1em;
            margin-bottom: .3em;
        }
        h5{
            padding-right: 0.5rem;
            display: inline;
            @include media(sm) {
                font-size: .9rem ;
                display: block;
            }
            @include media(xs) {
                font-size: .9rem ;
                display: block;
            }
        }
    }
    .tarifa-dia{
        margin-top: 0em;
        padding-top: 0em;
    }
    .radiobtn{
        @include media(xs) {
            position: absolute;
            top: -1rem;
        }
    }
}

.inputGroup {
    label {
      padding: 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        opacity: 0;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 0;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
}
.tarifa-dia{
    margin-top: 0.7em;
    padding-top: 0.5em;
    background-color: $colorSombraUno;
    .table{
        @include media(md) {
            font-size: .8em ;
        }
        margin-bottom: 0;
        thead{
            th{
                border-bottom: unset;
            }
        }
        th,td{
            border-top: unset;
            padding: 0 !important;
        }
        tbody{
            font-size: .8em;
        }
    }
    .checkout{
        color: $colorPrimarioUnoOscuro;
    }
}
.body-cotizador{
    // border-top: 2px solid $colorSombraUno;
    // border-bottom: 2px solid $colorSecundarioDosOscuro;
    background-color: $fondoBloqueBuscador;
    width: 100%;
    @include media-breakpoint-up(md) {
        position: sticky;
        top: 58px;
        z-index: 5;
        box-shadow: 5px 0 7px #8080807a;
    }
    @include media-breakpoint-up(lg) {
        .container {
            // max-width: 1220px;
        }
    }
}
.btn-buscar{
    background-color: $colorPrimarioUno;
}
.btn-filtros{
    background-color: $colorSecundarioDosOscuro;
    color: #fff;
}
.tag-promo-card {
    min-height: 10px;
    min-width: 130px;
    background-color: $colorSecundarioTres;
    color: $white;
    position: absolute;
    top: 8px;
    left: 0px;
    font-size: .9rem;
    padding: 4px;
    padding-left: 14px;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    z-index: 1;
    @include media(xs) {
        left: -15px;
    }
}
.img-hotel{
    min-height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include media(xs) {
        padding: 0 ;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.img-fluid-hotel {
    // max-width: 250px;
    width: 100%;
    height: auto;
    max-height: 227px;
    // @include media(sm) {
    //     max-width: 100%;
    //     width: 100%;
    //     height: auto;
    // }
    // @include media(xs) {
    //     max-width: 100%;
    //     width: 100%;
    //     height: auto;
    // }
}

.promoImg {
    position: absolute;
    top: -15px;
    width: 50px;
    height: 50px;
    left: -15px;
  }
  .promoImg img,
  .promoImg a {
    position: absolute;
    height: auto;
    width: 80px;
  }

.room-div{
    border-bottom: 1px solid #dcdcdc;
}
.filtros {
    @include media-breakpoint-up(md) {
        position: sticky;
        top: 22em;
    }
    @include media-breakpoint-up(lg) {
        top: 12em;
    }
}

.bg-filtro {
    padding: 1em;
    background-color: $secondaryColor;
    border-radius: $border-radius;
    & label {
        color: $secondaryColorTxt;
        font-size: 12px;
        padding: 0 6px;
        font-family: 'Muli-Regular';
        @include media(md) {
            font-size: 12px;
        }
        @include media(sm) {
            font-size: .7em;
        }
    }

    input[type=radio] {
        border: 1px solid #fff;
        padding: 0.5em;
        -webkit-appearance: none;
    }
    
    input[type=radio]:checked {
        background: url(data:image/gif;base64,R0lGODlhAQABAPAAAPyH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
        background-size: 9px 9px;
    }
    
    input[type=radio]:focus {
        outline-color: transparent;
    }
}

.check-tipo-res {
    display: flex;
    justify-content: space-around;
    & .label-text {
        // white-space: nowrap;
        display: contents !important;
    }
}

.last{
    border-bottom: 0px solid #dcdcdc !important;
}
.filtro-plan-cat{
    border-radius: 0.25rem;
}
.nomb-hotel{
    &:hover{
        cursor: pointer;
        color: $colorPrimarioUnoOscuro;
    }
}
.tachado{
    text-decoration-line: line-through;
    text-decoration-color: red;
}
.map-info{
    .map-container{
        height: 250px !important;
        width: 100% !important;
    }
}
.titlepop{
    margin: -.5rem -.75rem 0 -.75rem !important;
}
.gastos{
    color: #f95d13;
}

.scroll-to-top {
    position: fixed;
    background-color: $infoColor;
    color: $infoColorTxt;
    font-size: 2rem;
    border: 0;
    border-radius: 8px;
    width: 4rem;
    height: 3rem;
    opacity: 0;
    transition: all .2s ease-in-out;
    bottom: 5rem;
    right: 1rem;
    @include media-breakpoint-up(sm){
        bottom: 4rem;
        right: 1rem;
    }
}
.show-scroll {
    opacity: 1;
    transition: all .2s ease-in-out;
}
.confirm{
    background-color: #387ad9;
    color: #fff;
}
.pendi{
    background-color: #ffcb46;
    color: #fff;
}
.compartido{
    background-color: rgb(125, 68, 238);
    color: #fff;
}
.proceso {
    background-color: #9b59b6;
    color: #fff;
}
.popover {
    z-index: 100 !important;
}

.max-container {
    @media (min-width: 1800px) {
        max-width: 1400px;
    }
}
.numResults{
    font-weight: 700;
    color: #387ad9;
}
.center-pagination{
    width: auto !important;
}