.slide-img{
    // position: absolute;
    // background-size: cover;
    // background-position: center;
    // width: 100%;
    height: auto;
    max-height: 300px;
}
.owl-carousel .owl-item img{
    width: auto;
}