<div class="container">
	<div class="row">
    <div class="col-12 mt-4 mb-2">
      <a href="#" class="text-6" [routerLink]="['/agencia']"><< {{ 'iframe.regresar'|translate }}</a>
    </div>
		<div class="col-12 mt-4 mb-2">
			<h5 class="title-page">{{ 'iframe.crear-iframe'|translate }}</h5>
		</div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-iframe">
        <div class="iframeRow">
          <div class="iframe">
            <div class="search-box"></div>
            <div class="button-search"></div>
          </div>
          <button class="btn btn-info" (click)="createIframe()">{{ 'iframe.crear-nuevo-iframe'|translate }}</button>
        </div>
        <div class="listIframes">
          <div class="iframeRow customRow" *ngFor="let f of iframeList; let i = index;">
            <h5 class="titleiFrame" [ngStyle]="{'color': f.config.colors.buscador.texto }">{{ f.name }}</h5>
            <div class="iframe" [ngStyle]="{'background-color': f.config.colors.buscador.fondo }">
              <div class="search-box"></div>
              <div class="button-search" [ngStyle]="{'background-color': f.config.colors.botones.buscar.fondo }"></div>
            </div>
            <div class="d-sm-flex align-items-center justify-content-around">
              <div class="text-center mb-2 mb-sm-0 mr-sm-3">
                <h5>{{ f.name }}</h5>
                <small>{{ f.lastupdate }}</small>
              </div>
              <div class="text-center">
                <button class="btn btn-green mr-2 mr-md-0 mb-md-2 mb-lg-0 mr-lg-2" (click)="getIframe(f.id)"><i class="far fa-edit"></i> {{ 'iframe.editar'|translate }}</button>
                <button class="btn btn-red" (click)="deleteIframe(f.id)"><i class="far fa-trash-alt d-md-none d-lg-inline"></i><span class="d-none d-md-block d-lg-none"> {{ 'iframe.eliminar'|translate }}</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

