<div class="container">
<div class="row">
    <div class="col-12 mt-4 text-center">
        <h1 class="font-weight-bold">{{ 'vuelos.viaje-listo'|translate }} <i class="far fa-check-square"></i></h1>
        <h2 class="mt-5">{{ 'vuelos.reservacion-confirmada-email'|translate }}</h2>

        <ng-container *ngIf="booking?.booking_Data?.tipo_viaje == 'roundtrip'; else elseBlock">
            <div class="mt-5">
                <p class="text-3 m-0">{{ booking?.booking_Data?.tramos[0]?.nombre_origen }} - {{ booking?.booking_Data?.tramos[0]?.nombre_destino }}</p>
                <p class="text-3 m-0"><i class="far fa-calendar mr-4"></i> {{ booking?.booking_Data?.tramos[0]?.date | date : 'dd/MM/yyyy' }} - {{ booking?.booking_Data?.tramos[1]?.date | date : 'dd/MM/yyyy' }}</p>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="mt-5" *ngFor="let tramo of booking?.booking_Data?.tramos">
                <p class="text-3 m-0">{{ tramo?.nombre_origen }} - {{ tramo?.nombre_destino }}</p>
                <p class="text-3 m-0"><i class="far fa-calendar mr-4"></i> {{ tramo?.date | date : 'dd/MM/yyyy' }}</p>
            </div>
        </ng-template>
        
    </div>
</div>
<div class="row">
    <div class="col-12 mt-4">
        <div class="card-white">
            <p class="text-center">{{ 'vuelos.cobro-completado'|translate }}.</p>
            <hr>
            <p>{{ 'vuelos.datos-utiles-factura'|translate }}:</p>
            <div class="mb-3">
                <p class="m-0">{{ 'vuelos.localizador'|translate }}: <span class="font-weight-bold">{{ booking?.idBooking }}</span></p>
                <p class="m-0">{{ 'vuelos.email-reserva'|translate }}: <span class="font-weight-bold">{{ booking?.booking_Data?.datos_contacto?.email}}</span></p>
                <p class="m-0">{{ 'vuelos.consultar-recibo'|translate }} <a [href]="booking?.url" target="_blank">{{ 'vuelos.aqui'|translate }}</a>.</p>
            </div>
            <p class="text-3 font-weight-bold">
                {{ 'vuelos.importante-localizador-email'|translate }}
            </p>
            <p>
                {{ 'vuelos.bien-informados'|translate }} {{ 'vuelos.asegurate-recibir'|translate }} AGENCIA {{ 'vuelos.asegurate-recibir0'|translate }} <b>contacto@checkin2travel.com</b> {{ 'vuelos.asegurate-recibir-0'|translate }} <b>24 {{ 'vuelos.horas'|translate }}</b>, {{ 'vuelos.asegurate-recibir-1'|translate }}.
            </p>
            <div class="text-center mt-3">
                <p class="font-weight-bold text-danger"> {{ 'vuelos.redireccionando'|translate }} {{ counter }}  {{ 'vuelos.segundos'|translate }}...</p>
                <button class="btn btn-primary" [routerLink]="['/reservaciones']"> {{ 'vuelos.ir-a-reservas'|translate }}</button>
            </div>
                
        </div>
    </div>
</div>
</div>

