<div class="modal-header">
  <h4 class="modal-title">{{ 'agencia.cambiar-logo-header'|translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
  <!-- <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="fileChangeEvent($event)">
    <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
  </div> -->
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="fileChangeEvent($event)">
      <label class="custom-file-label" for="inputGroupFile01">{{ 'agencia.seleccionar-archivo'|translate }}</label>
    </div>
  </div>
  <div>
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [aspectRatio]="9 / 3"
      [maintainAspectRatio]="true"
      [resizeToWidth]="300"
      [cropperMinWidth]="150"
      [onlyScaleDown]="true"
      format="png"
      outputType="base64"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      [style.display]="showCropper ? null : 'none'"
    ></image-cropper>
  </div>
  <div class="mt-2" *ngIf="showSave==true">
    <h6 class="font-weight-bold">{{ 'agencia.vista-previa'|translate }}</h6>
    <img [src]="croppedImage" class=""/> 
  </div>

</div>
<div class="modal-footer">
  <button *ngIf="showSave==true" class="btn btn-green" (click)="subirImg(croppedImage, data)">{{ 'agencia.guardar-imagen'|translate }}
    <span *ngIf="loading">
      <i class="fa fa-spinner fa-spin"></i>
    </span>
  </button>
  <button type="button" class="btn btn-outline-blue" (click)="activeModal.close('Close click')">{{ 'agencia.cerrar'|translate }}</button>
</div>