<div class="bg-white border-rounded">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <div class="text-uppercase px-3">
                    {{ 'flyers.flyers'|translate }}
                </div>
                <!-- <h5 class="title-page">Flyers</h5> -->
            </div>
        </div>

        <!-- FLYERS -->
        <div class="row">
            <div class="col-12 my-2">
                <div class="promos">
                    <div class="">
                        <ul class="nav nav-pills vav-fill" id="pills-tab" role="tablist">
                            <li class="nav-item" *ngFor="let flyer of firstFlyers">
                                <a class="nav-link" [ngClass]="{'active': flyer.active }" data-toggle="pill" (click)="setActive(flyer)" [href]="'#' + flyer.idSeccion" [attr.aria-selected]="flyer.active == true" role="tab">{{ flyer.seccion }}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- CONTENT -->
                    <div class="tab-content mt-3" id="pills-tabContent">
                        <!-- <div *ngFor="let flyer of listFlyersSection" class="tab-pane fade show" id="{{ flyer.seccion }}" role="tabpanel" aria-labelledby="pills-mi-papa-tab"> -->
                        <div *ngFor="let flyer of firstFlyers" class="tab-pane fade show" [ngClass]="{'active': flyer.active }" id="{{ flyer.idSeccion }}" role="tabpanel">
                            <div class="">
                                <div class="row">
                                    <div *ngFor="let f of flyer.flyers" class="col-12 col-md-6 col-lg-3 flyers mb-3">
                                        <div class="position-relative">
                                            <img class="img-fluid" [src]="f.url_thumbnail" alt="f.descripcion">
                                            <div class="date">
                                                {{f.fecha_inicio | date:'dd/MM/yy'}} - {{f.fecha_fin | date:'dd/MM/yy'}}
                                            </div>
                                            <div class="overlay"></div>
                                        </div>
                                        <div class="buttons">
                                            <p class="text-white">{{ 'flyers.descargar-flyers'|translate }}:</p>
                                            <a [href]="f.url_flyer + '/' + token" target="_blank" class="btn btn-green btn-block">{{ 'flyers.personalizado'|translate }}</a>
                                            <a [href]="f.url" target="_blank" class="btn btn-info btn-block">{{ 'flyers.solo-imagen'|translate }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-uppercase text-right px-3 pb-2">
                    <a  [routerLink]="['/flyers']">{{ 'flyers.ver-todos'|translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <!--! FLYERS -->
</div>