<div class="modal-header">
	<h4 class="modal-title">Pagar reserva - {{reserva.datosreserva.idReserva}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row mb-3">
			<div class="col-12 col-sm-6 text-center mb-5 mb-sm-0">
				<h5 class="title-page">Total de la reserva</h5>
				<div class="font-weight-bold pb-2"><span class="text-blue">{{precioNe | currencyFormat}}</span>&nbsp;<span class="text-orange">MXN</span> NETA</div>
				<small><span class="text-blue">{{precioPu | currencyFormat}}</span>&nbsp;<span class="text-orange">MXN</span> PÚBLICA</small>
			</div>
			<div class="col-12 col-sm-6 text-center">
				<h5 class="title-page">Saldo</h5>
				<div class="font-weight-bold"><span class="text-blue">{{saldo | currencyFormat}}</span>&nbsp;<span class="text-orange">MXN</span></div>
			</div>
		</div>
        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label *ngIf="monto" for="monto">Monto</label>
            <!-- <input *ngIf="monto" type="text"  [(ngModel)]="montoTotal" name="monto" id="" class="form-control" (keypress)="numberOnly($event)">  -->

			<div class="input-group mb-3" *ngIf="monto">
				<div class="input-group-prepend">
				  <span class="input-group-text">$</span>
				</div>
				<input type="text" [(ngModel)]="montoTotal" name="monto" id="" class="form-control" (keypress)="numberOnly($event)" aria-label="Amount (to the nearest dollar)">
				<div class="input-group-append">
				  <span class="input-group-text">MXN</span>
				</div>
			  </div>
        </div>
		<div class="row d-flex align-items-stretch">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary btn-neto "  *ngIf="depositos.length <= 0">
                  <input type="radio" name="options" id="option1" [disabled]="depositos.length > 0" value="1" checked (click)="changeShowMonto(false, 1)"> Pagar Neta: {{precioNe | currencyFormat}} MXN
                </label>
                <label class="btn btn-secondary btn-publico" *ngIf="depositos.length <= 0">
                  <input type="radio" name="options" id="option2" value="2" [disabled]="depositos.length > 0" (click)="changeShowMonto(false,2)"> Pagar pública: {{precioPu | currencyFormat}} MXN
                </label>
                <label class="btn btn-secondary btn-abonar">
                  <input type="radio" name="options" id="option3" value="3" (click)="changeShowMonto(true,3)"> Abonar
                </label>
              </div>
		</div>
		<table class="table table-light" *ngIf="depositos.length > 0">
			<thead>
				<tr>
					<th>idDeposito</th>
					<th>Importe</th>
					<th>Status</th>
					<th>Fecha del Pago</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let l of depositos;">
					<td>{{ l.idDeposito }}</td>
					<td>{{ l.importe }}</td>
					<td>{{ l.status }}</td>
					<td>{{ l.fechaPago }}</td>
					<td>
						<!-- <i class="fa fa-info" (click)="showDetalle(l.detalles)"></i> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>  
<div class="modal-footer">
    <button class="btn btn-success btn-md" [disabled]=" montoTotal <= 0" (click)="pagarReserva()">Pagar</button>
    <button class="btn btn-danger btn-md" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
</div>